@page
@*"{currentPage:int?}"*@
@model STProject.Pages.Community.AllCommunitiesModel

@{
    ViewData["Title"] = "AllCommunities";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<head>
    <link rel="stylesheet" href="~/css/community.css" />
</head>

<h1>AllCommunities</h1>
<div>
    <hr />
    <form method="get">
        <div class="inpit-group">
            <input class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button asp-page="AllCommunities" asp-route-currentPage="1" asp-route-searchTerm="@Model.SearchTerm" class="btn btn-primary" type="submit">
                    Search
                </button>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="career-search mb-60">
                    <div class="filter-result">
                        <p class="mb-30 ff-montserrat">There are @Model.Count communities you may join</p>
                        <br />
                        @{
                            var allCommunitiesIdJoined = Model.UserToCommunities.Where(x => x.ApplicationUserId == Model.UserId).Select(c => c.CommunityId).ToList();

                            foreach (var community in Model.Communities)
                            {
                                @if (community.IsDeleted == false)
                                {
                                    var membersCount = Model.UserToCommunities.Count(x => x.CommunityId == community.Id);
                                    var owner = Model.Users.First(x => x.Id == community.OwnerId);
                                    var ownerName = owner.UserName.Substring(0, 3);

                                    <div class="community-box d-md-flex align-items-center justify-content-between mb-30">
                                        <div class="community-left my-4 d-md-flex align-items-center flex-wrap">
                                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                                @(community.OwnerId == null ? "nqma" : ownerName)
                                            </div>
                                            <div class="community-content">
                                                <h5 class="text-md-left">@community.Name</h5>
                                                <h6 class="text-md-left description">Description: @community.Description</h6>
                                                <h6 class="text-md-left owner">Owner: @owner.UserName</h6>
                                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                    <li class="mr-md-4">
                                                        <i class="fas fa-male"></i> Members: @membersCount
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="community-right my-4 flex-shrink-0">
                                            <a asp-page="Details" asp-route-id="@community.Id" class="btn d-block w-80 d-sm-inline-block btn-primary">Details</a>

                                            @if (community.OwnerId == Model.UserId)
                                            {
                                                <a asp-page="AllCommunities" asp-page-handler="DeleteCommunity" asp-route-id="@community.Id" class="btn d-block w-80 d-sm-inline-block btn-danger">Delete</a>
                                            }
                                            else
                                            {
                                                if (allCommunitiesIdJoined.Contains(community.Id) == false)
                                                {
                                                    <a asp-page="AllCommunities" asp-page-handler="AddUserToCommunity" asp-route-id="@community.Id" class="btn d-block w-80 d-sm-inline-block btn-primary">Join Now</a>
                                                }
                                                else
                                                {
                                                    <a asp-page="AllCommunities" asp-page-handler="RemoveUserFromCommunity" asp-route-id="@community.Id" class="btn d-block w-80 d-sm-inline-block btn-danger">Quit</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div>
                <ul class="pagination" id="pagination">
                    <li class="page-item @(!Model.ShowFirst? "disabled":"")">
                        <a asp-page="AllCommunities" asp-route-currentPage="1" asp-route-searchTerm="@Model.SearchTerm" class="page-link"><i class="fas fa-fast-backward"></i></a>
                    </li>

                    <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                        <a asp-page="AllCommunities" asp-route-currentPage=@(Model.CurrentPage - 1) asp-route-searchTerm="@Model.SearchTerm" class="page-link"><i class="fas fa-step-backward"></i></a>
                    </li>
                    <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                        <a asp-page="AllCommunities" asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-searchTerm="@Model.SearchTerm" class="page-link"><i class="fas fa-step-forward"></i></a>
                    </li>

                    <li class="page-item  @(!Model.ShowLast? "disabled":"")">
                        <a asp-page="AllCommunities" asp-route-currentPage="@Model.TotalPages" asp-route-searchTerm="@Model.SearchTerm" class="page-link"><i class="fas fa-fast-forward"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>