@page
@model STProject.Pages.Community.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@*<div>
    <h4>Community</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.IsPrivate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.IsPrivate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.DeletedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.DeletedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Community.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Community.Owner.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Community?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-3">Welcome to @Model.Community.Name !</h2>
            <h3>@Model.Community.Description</h3>
            <a class="btn btn-success mt-4" href="/Community/AddPost?communityId=@Model.Community.Id">Add Post</a>
        </div>
    </div>

    <div class="container mt-3">
        <!-- Example row of columns -->
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <div class="col-md-4">
                    <h2>@post.Title</h2>
                    <p>@post.Content</p>
                    <p><a href="/PostComments/CreateComment?postId=@post.Id" class="btn btn-secondary">View details »</a></p>
                </div>     
            }
        </div>

        <hr>

    </div> <!-- /container -->

</main>