@page
@model STProject.Pages.PostComments.CreateCommentModel
@{

    ViewData["Title"] = "CreateComment";

}

<head>
    <link rel="stylesheet" href="~/css/CreateComment.css" />
    <link rel="stylesheet" href="~/css/bootstrap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<main role="main">

    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column col-md-8">
                <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                    <div class="profile-image">
                        <img class="rounded-circle" src="https://i.imgur.com/t9toMAQ.jpg" width="70">
                    </div>
                    <div class="d-flex flex-column ml-3">
                        <div class="d-flex flex-row post-title">
                            <h5>@Model.Post.Title</h5>
                        </div>
                        <div class="d-flex flex-row align-items-center align-content-center post-title">
                            <span>@Model.Post.CreatedOn</span>
                        </div>
                    </div>
                </div>
                <div class="coment-bottom bg-white p-2 px-4">
                    <form method="post">
                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                            <img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/yTFUilP.jpg" width="38">
                            <label asp-for="Comment.Content"></label>
                            <input asp-for="Comment.Content" class="form-control mr-3" placeholder="Add comment">
                            <select asp-for="Comment.PostId" class="visually-hidden" asp-items="ViewBag.PostId"></select>
                            <input class="btn btn-primary" type="submit" value="Submit" />
                        </div>
                    </form>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="commented-section mt-2">
                                <div class="d-flex flex-row align-items-center commented-user">
                                    @*<h5 class="mr-2">@comment.Owner.Email</h5>*@
                                    <span class="mb-1 ml-2">@comment.CreatedOn</span>
                                    <div class="comment-text-sm">
                                        <span>@comment.Content</span>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</main>

