@page
@model STProject.Pages.PostComments.CreateCommentModel
@{

    ViewData["Title"] = "CreateComment";

}

<head>
    <link rel="stylesheet" href="~/css/CreateComment.css" />
    <link rel="stylesheet" href="~/css/bootstrap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<main role="main">

    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column col-md-8">
                <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                    <div class="d-flex flex-column ml-3">
                        <div class="d-flex flex-row post-title">
                            <h5>@Model.Post.Title</h5>
                        </div>
                        <div class="d-flex flex-row align-items-center align-content-center post-title">
                            <span>@Model.Post.CreatedOn</span>
                        </div>
                        <div class="d-flex flex-row align-items-center align-content-center post-title">
                            <h6>@Model.Post.Content.</h6>
                        </div>
                    </div>
                </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-6 col-12 pb-4">
                                <h1>Comments</h1>
                                @foreach (var comment in Model.Comments)
                                    {
                                        var owner = Model.Users.First(x => x.Id == comment.OwnerId);
                                        var ownerName = owner.UserName;

                                    <div class="comment mt-4 text-justify float-left">
                                        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                                        <h4>@ownerName</h4>
                                        <br>
                                        <span>@comment.CreatedOn</span>
                                        <p>@comment.Content</p>
                                        @if (comment.OwnerId == Model.UserId)
                                        {
                                            <a asp-page="CreateComment" asp-page-handler="DeleteComment" asp-route-id="@comment.Id" class="btn btn-primary">Delete</a>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                                <form method="post" id="algin-form">
                                    <div class="form-group">
                                        <h4>Leave a comment</h4>
                                        <input asp-for="Comment.Content" class="form-control mr-3" placeholder="Add comment">
                                        <div class="form-group">
                                            <select asp-for="Comment.PostId" class="visually-hidden" asp-items="ViewBag.PostId"></select>
                                            <input class="btn btn-primary" type="submit" id="post" value="Submit" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
                    </div>
                </div>
</main>

